@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.projects {
    margin: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        @include desktop-margins;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
        align-items: flex-start;
    }

    &__title {
        padding-bottom: 0.5rem;
        color: $basic-white;

        @include desktop {
            padding-bottom: 3rem;
        }
    }

    &__cards-container {
        display: flex;

        @include desktop {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__card {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $basic-white;
        opacity: 0; /* initially hidden */
        transform: translateY(-50px); /* Start off-screen */
        transition: opacity 1s ease-out, transform 1s ease-out;

        @include desktop {
            margin: 0;
            border: 10px solid $basic-white;
            width: 32rem;
            height: 21rem;
            // flex-direction: row;
            justify-content: space-between;
            // align-self: flex-start;
            // width: 100%;
            box-shadow: 10px 10px 0px 3px rgba(255,173,244,0.5);
        }

        &:hover {
            transform: translateY(-10px); /* Move card upwards on hover */
        }
    }

    &__information {
        display: flex;
        flex-direction: row;

        @include desktop {
            padding: 1.5rem 1rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__icon {
        // width: 10rem;
        border: 2px solid $basic-black;
        height: 15rem;
        background-color: grey;
    }

    &__links-container {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        padding: 0.5rem 0;
    }

    &__github {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__deployed-link {
        width: 2.5rem;
        height: 2.5rem;

        @include desktop {
            margin-left: 1rem;
        }
    }
}

.fade-in-down {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Start off-screen */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move to normal position */
    }
}