@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.cv {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        @include desktop-margins;
        flex-direction: row;
    }

    &__headshot {
        border: 5px solid $basic-white;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        
        @include desktop {
            width: 20%;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            padding-left: 3rem;
            align-items: flex-start;
            width: 80%;
        }
    }

    &__about-title {
        padding: 1rem 0;
        text-align: center;
        color: $basic-white;
        
        @include desktop {
            text-align: left;
        }
    }

    &__about-subsections {
        padding: 1rem 0;
        color: $basic-white;

        @include desktop {
            padding: 2rem 0 2.5rem;
            width: 50%;
            align-self: flex-start;
        }
    }

    &__about-subheader {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        color: $basic-white;

        > div {
            cursor: pointer;
            padding: 0.5rem 1rem;
            font-weight: 700;
            transition: all 0.3s ease;
            &:hover {
                background-color: $basic-white;
                color: $basic-black;
            }

            @include desktop {
                margin: 0 0.25rem;
            }
        }
    }

    &__about-me-content {
        color: $basic-white;
    }

    &__about-content {
        padding: 0 1rem;
        color: $basic-white;

        @include desktop {
            padding: 0;
        }
    }

    &__download {
        @include desktop {
            align-self: flex-start;
        }
    }

    &__dl-button {
        @include body-button;
    }
}