@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 100%;
    z-index: 1000;

    @include desktop {
        padding: 2rem 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        position: fixed;
        top: 0;
        left: 50%;
        background-color: transparent;
        transform: translateX(-50%);
    }

    &__logo {
        margin: 1rem 0;
        height: 5rem;

        @include desktop {
            margin: 0;
        }
    }

    &__nav {
        padding-bottom: 1rem;
        border-top: 1px solid $basic-black;
        border-bottom: 1px solid $basic-black;
        width: 100%;
        display: flex;
        justify-content: center;
        
        @include desktop {
            border: none;
            justify-content: space-evenly;
        }
    }

    &__button {
        margin-top: 1rem;
        @include header-button;

        &--spaced {
            margin-left: 1rem;
        }
    }

    &.scrolled {
        background-color: $basic-black;
        color: $basic-white;

        .header__button {
            color: $basic-white;

            &:hover {
                background-color: $basic-white;
                color: $basic-black;
            }
        }
    }
}

