@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

* {
  margin: 0;
  box-sizing: border-box;
  // background-color: $secondary-peach;
  font-family: Arial, Helvetica, sans-serif;
}