@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.home {

    &__cv {
        background-color: $basic-black;

        @include desktop {
            padding: 15rem 0 7rem;
            // height: 100vh;
        }
    }

    &__projects {
        background-color: $basic-black;

        @include desktop {
            margin: 0 auto;
            padding: 5rem 0 10rem;
        }
    }

    &__contact {

        @include desktop {
            margin: 0 auto;
        }
    }
}